html, body {
    margin: 0%;
    padding: 0%;
    height: 100%;
}
html {
    font-size: 16px;
}

body {
    background-color: #212A31;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

h2 {
    padding: 2%;
}

p{
    
    font-family: 'Roboto';
}

h1 {
    padding: 5% 15%;
    font-size: 2rem;
}

h2 {
    background-color: #124E66;
    color: white;
}

div p {
    padding: 2%;
    color: white;
    font-size: 2rem;
}

img {
    max-width: 100%;
}

.link {
    background-color: #4b5b5f;
    padding: 2%;
    margin: 1% 2%;
}

#links a {
    color: #00ff6a;
}


#links a:active {
    color: #964734;
}

#links a:visited {
    color: #00eaff;
}

#links a:hover {
    color: white;
}

header #title {
    align-items: center;
    justify-content: center;
}

header #title img {
    z-index: 1;
}

header #title h1 {
    z-index: 2;
}

#links {
    display: flex;
}

footer {
    background-color: #D3D9D4;
    box-shadow: 5px 5px 5px 1px #124E66;
    margin: 1% 1%;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    
}
footer div p {
    color: black;
}

#imgSource, #textSource {
    display: flex;
    flex-direction: column;
    box-shadow: none;
}

.sources {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer div a, a:hover, a:visited, a:active {
    color: black;
}

header #title  {
    margin: 1%;
    height: 50%;
    background-image: url('../images/kayak-Canadice.jpg');
    background-size: cover;
    background-position: center;
    z-index: 2;
}

header #title h1 {
    background-color: rgba(255, 255, 255, 0.5);
}

.sec {
    max-width: 100vw;
}

#overview  {
    height: 100%;
    background: rgba(70, 149, 165, 0.5);
    background-image: url('../images/lake-Seneca-Lake-Landscape-in-Fall.jpg');
    background-size: cover;
    background-position: center;
    z-index: 2;
    position: relative;
    margin: 10% 1%;
}

#landscape {
    height: 100%;
    background: rgba(70, 149, 165, 0.5);
    background-image: url('../images/waterfall-HERO1_shutterstock.jpg');
    background-size: cover;
    background-position: center;
    z-index: 2;
    position: relative;
    margin: 10% 1%;
}

#activities {
    height: 100%;
    background: rgba(70, 149, 165, 0.5);
    background-image: url('../images/swim-robert-treman.jpg');
    background-size: cover;
    background-position: center;
    z-index: 2;
    position: relative;
    margin: 10% 1%;
}

#history {
    height: 100%;
    background-image: url('../images/FingerLakes_map.jpg');
    background-size: cover;
    background-position: center;
    z-index: 2;
    position: relative;
    margin: 10% 1%;
    padding: 2%;
}

.sec div{
    position: absolute;
    max-width: 40%;
    right: 2%;
    z-index: 2;
}

.sec div h2{
    text-align: center;
}

.sec div p {
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .85);
    margin: 1%;
}

@media screen and (max-width: 799px) {

    .sec div{
        align-items: center;
        position: absolute;
        max-width: 100%;
        z-index: 2;
    }

    .sec div{
        margin: 1%;
    }

    .sec div p {
        font-size: 1.5rem;
    }
    img {
        width: 100vw;
        height: 50vw;
    }
}

@media screen and (min-width: 800px) {

    .sec div p {
        font-size: 1.5rem;
    }
    img {
        width: 100vw;
        height: 50vw;
    }
}